[global]
fsid = {{ .FSID }}
public network = 127.0.0.1/32
cluster network = 127.0.0.1/32
osd pool default size = 1
osd pool default min size = 1
osd crush chooseleaf type = 0

[mon]
auth_allow_insecure_global_id_reclaim = false
mon_initial_members = a

[mon.a]
host = localhost
mon addr = 127.0.0.1

[osd.0]
host = localhost
